/* dosis-600 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/dosis-v17-latin-600.woff') format('woff');
}
*, *:before, *:after {
  box-sizing: border-box;
}
html,
body,
.page {
  height: 100%;
}
.hidden {
  display: none;
}
#gameboard {
  margin: 0 auto;
}
body {
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
  color: white;
  font-size: 28px;
  line-height: 1.1;
  text-align: center;
  margin: 0;
  background: linear-gradient(135deg, #f6940d 0%, #dc2ff7 100%);
}
/* Background picture (numbers) */
body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../assets/img/bkg.png);
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}
.page {
  display: flex;
  flex-direction: column;
}
.page-header {
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.4);
}
.page-header h1 {
  font-size: 1em;
  margin: 0;
  transform: scale(1.2);
}
h1.page-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.quiz-question {
  margin: 0 0.2em 0 0.2em;
}
.page-content {
  position: relative;
}
.page-content h1 {
  font-size: 1em;
}
.page-footer {
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: auto;
}
#name-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="text"] {
  color: black;
  font-size: 0.7em;
  margin-right: 1rem;
  width: 70%;
}
input[type="text"]:focus {
  background: white;
  outline: 0;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
}
/* List of names */
/* No markers for list */
ul {
  list-style: none;
}
.names {
  padding: 0;
}
li.names {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: space-between;
  margin-bottom: 0.2em;
}
.namescore {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  width: 80%;
}
.userscore {
  text-align: right;
}
button {
  width: fit-content;
  padding: 0.2em 1em 0.2em 1em;
  cursor: pointer;
  border-radius: 0.5em;
  background: #f6940d;
  color: white;
  text-transform: uppercase;
}
a.save-load, label.save-load {
  position: absolute;
  top: 1em;
  left: 1em;
  width: fit-content;
  padding: 0.5em;
  cursor: pointer;
  color: white;
  border-width: 2px;
  border-style: outset;
  border-radius: 0.5em;
  border-color: #E6E6E6;
  background: #f6940d;
  font-size: 0.5em;
  user-select: none;
}
input[type='file'] {
  width: 3em;
  opacity: 0;
  position: absolute;
  top: 1em;
  left: 1em;
  padding: 0.5em;
}
a.save-load.pressed, label.save-load.pressed {
  border-style: inset;
}
@media screen and (max-width: 500px) {
  .page-footer {
    font-size: 5vw;
  }
  .relativebox {
    width: 100%
  }
}
.question {
  font-size: 2em;
  color: white;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.4);
  margin-top: -0.25em;
}
.choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.1em;
}
/* Checkbox choice result */
.choice {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
  background: #f6940d;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.25em;
  border: 6px solid white;
  padding: 0;
  margin: 0.2em;
  user-select: none;
  transition: background 0.5s ease, opacity 0.5s ease, transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Green */
.choice.is-correct {
  background: #6fa621;
}
/* Red */
.choice.is-wrong {
  background: #ea1c24;
  opacity: 0.3;
}
.choice.is-clicked {
  transform: scale(1.2); /* Size increases */
  z-index: 1;
}
/* Quiz page score */
.progressbar {
  height: 0.8em;
  border: 2px solid white;
  border-radius: 2px;
  width: 70%;
}
.scorebox {
  display: flex;
  align-items: center;
  margin: 0.5em 1em 0.5em 1em;
  justify-content: space-between;
}
.quizscore {
  text-align: left;
  width: 70%;
}
/* Game over page */
ul.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
li.result {
  display: flex;
  margin-bottom: 0.2em;
  justify-content: space-between;
  width: 50%;
}
label {
  text-align: left;
}
label.quiz {
  /* Label too wide */
  width: 20%;
}
.end-result {
  text-align: right;
}
.gold {
  color: #ffd700;
}
.relativebox { 
  /* "position" must be relative in order to be a "containing block" 
   * for the big-star */
  position: relative; 
}
#history-graph {
  background: white;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;
}
#star {
  position: absolute;
  z-index: 1; /* Must be above everything else */
  transition: all 2s cubic-bezier(0, 0, 1, 1);
}
#hundredPct {
  position: absolute;
  z-index: 2;
  transition: all 6s cubic-bezier(.25,-.25,.8,.3);
}
.spin {
  cursor: wait;
}
dialog {
  border-radius: 6px;
  border-width: 2px;
}
form.dialog-form {
  display: flex;
}
button.dialog-button {
  margin-bottom: 0;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}
